{% extends 'core/base.html' %}

{% block header %}
    <!--content-header-->
    <div class="content-header">
        <div class="container-fluid">
            <h1 class="m-0">{{ listado_ejercicio }}</h1>
        </div>
    </div>
    <!--./content-header-->
{% endblock %}

{% block content %}
    <!--contenedor-body -->
    {% for eje in ejercicios %}
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                {% for i in eje %}
                <div class="col">
                    <div class="small-box bg-info">
                    <div class="inner">
                        <h3> {{ variable_auxiliar }} </h3>
                        <p> {{ variable_auxiliar_2 }} </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                        <a href="#" class="small-box-footer">{{ i }} <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </section>
    {% endfor %}
    <!--./contenedor-body -->
{% endblock %}